{% set current_lang = request.environ.CKAN_LANG %}
<form class="form-inline lang-select flex align-items-center" action="{% url_for 'util.internal_redirect' %}" data-module="select-switch" method="POST">
  {{ h.csrf_input() }}
  <label for="field-account-masthead-lang-select" hidden>{{ _('Language') }}</label>
  <select id="field-account-masthead-lang-select" name="url" data-module-dropdown-class="lang-dropdown" data-module-container-class="lang-container">
    {% for locale in h.get_available_locales() %}
      <option value="{% url_for h.current_url(), locale=locale.short_name %}" {% if locale.short_name == current_lang %}selected="selected"{% endif %}>
          {{ locale.short_name | upper or locale.english_name }}
      </option>
    {% endfor %}
  </select>
  <button class="btn btn-secondary d-none " type="submit">{{ _('Go') }}</button>
</form>
